.el-tabs__item
  width 80px
  box-sizing content-box
  text-align center
.taskDetail .el-tabs__item
  width 100px
.el-table .cell
  font-size 12px
  color #333
.el-table td, .el-table th.is-leaf
  border none
.el-table
  border none
.el-table::after, .el-table::before
  background-color #fff
.el-table td, .el-table th
  height 50px
.el-table th, .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div
  background #fff
  font-weight bold