.board .el-checkbox
  padding-bottom 17px
.certification ul li .el-input
  width 300px
  height 24px
.certification .inputSelect .el-input
  width 97px
.certification .el-select .el-input .el-select__caret
  margin-top 8px
.market .el-range-editor.el-input__inner
  width 245px
.market .el-input
  width 175px